.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.paper-shadow-z1 {
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12) !important;
}
.paper-shadow-z2 {
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23) !important;
  box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23) !important;
}
.paper-shadow-z3 {
  -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23) !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23) !important;
}
.paper-shadow-z4 {
  -webkit-box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22) !important;
  box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22) !important;
}
.paper-shadow-z5 {
  -webkit-box-shadow: 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22) !important;
  box-shadow: 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22) !important;
}
.divider {
  height: 1px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
}
.cover,
.likearts-content .main-area {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.display-hide {
  display: none !important;
}
.display-show {
  display: inherit !important;
}
.transition {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.cursor-pointer {
  cursor: pointer;
}
.desktop-visible {
  position: relative;
}
@media screen and (max-width: 768px) {
  .desktop-visible {
    display: none;
  }
}
.tablet-visible {
  position: relative;
  display: none;
}
@media screen and (max-width: 768px) {
  .tablet-visible {
    display: inherit;
  }
}
.phone-visible {
  position: relative;
  display: none;
}
@media screen and (max-width: 640px) {
  .phone-visible {
    display: inherit;
  }
}
.likearts-content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  color: $primary-color-text;
  overflow-x: hidden;
  image-rendering: optimizeQuality;
  text-rendering: geometricPrecision;
}
a:hover {
  outline: none;
  text-decoration: none;
}
a:active {
  outline: none;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}
.font--black {
  color: #000;
}
.font--black:hover {
  color: #000;
}
.font--black:active {
  color: #000;
}
.font--black:focus {
  color: #000;
}
.font--white {
  color: #fff;
}
.font--white:hover {
  color: #fff;
}
.font--white:active {
  color: #fff;
}
.font--white:focus {
  color: #fff;
}
.likearts-content .container-fluid {
  padding: 0;
  margin: 0;
}
.likearts-content .container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
.likearts-content .main-area {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1080px;
}
@media screen and (max-width: 992px) {
  .likearts-content .main-area {
    min-height: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
