/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow--b {
  background-image: url(sprite.png);
  background-position: -274px -133px;
  width: 9px;
  height: 15px;
}
.icon-arrow--small {
  background-image: url(sprite.png);
  background-position: -282px -65px;
  width: 6px;
  height: 11px;
}
.icon-arrow--w {
  background-image: url(sprite.png);
  background-position: -265px -133px;
  width: 9px;
  height: 15px;
}
.icon-list--1 {
  background-image: url(sprite.png);
  background-position: 0px -72px;
  width: 73px;
  height: 79px;
}
.icon-list--2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 85px;
  height: 72px;
}
.icon-list--3 {
  background-image: url(sprite.png);
  background-position: -85px 0px;
  width: 79px;
  height: 66px;
}
.icon-list--4 {
  background-image: url(sprite.png);
  background-position: -225px 0px;
  width: 65px;
  height: 65px;
}
.icon-works--1 {
  background-image: url(sprite.png);
  background-position: -85px -66px;
  width: 69px;
  height: 75px;
}
.icon-works--2 {
  background-image: url(sprite.png);
  background-position: -71px -151px;
  width: 69px;
  height: 57px;
}
.icon-works--3 {
  background-image: url(sprite.png);
  background-position: -225px -65px;
  width: 57px;
  height: 68px;
}
.icon-works--4 {
  background-image: url(sprite.png);
  background-position: -164px 0px;
  width: 61px;
  height: 76px;
}
.icon-works--5 {
  background-image: url(sprite.png);
  background-position: 0px -151px;
  width: 71px;
  height: 62px;
}
.icon-works--6 {
  background-image: url(sprite.png);
  background-position: -140px -151px;
  width: 71px;
  height: 50px;
}
.icon-fb--b {
  background-image: url(sprite.png);
  background-position: 0px -213px;
  width: 40px;
  height: 40px;
}
.icon-fb--w {
  background-image: url(sprite.png);
  background-position: -40px -213px;
  width: 40px;
  height: 40px;
}
.icon-ig--b {
  background-image: url(sprite.png);
  background-position: -80px -213px;
  width: 40px;
  height: 40px;
}
.icon-ig--w {
  background-image: url(sprite.png);
  background-position: -164px -76px;
  width: 40px;
  height: 40px;
}
.icon-vk--b {
  background-image: url(sprite.png);
  background-position: -225px -173px;
  width: 40px;
  height: 40px;
}
.icon-vk--w {
  background-image: url(sprite.png);
  background-position: -225px -133px;
  width: 40px;
  height: 40px;
}
