.likearts-content .main-area--4 {
  background-color: #f4f4f4;
  color: #000;
}
.likearts-content .main-area--4 .main-container {
  position: relative;
}
.likearts-content .main-area--4 .main-container__title {
  font-family: 'Intro';
  font-weight: 900;
  margin: 0;
}
.likearts-content .main-area--4 .main-container__content {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  min-height: 750px;
}
@media screen and (max-width: 992px) {
  .likearts-content .main-area--4 .main-container__content {
    margin: 50px 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 920px) {
  .likearts-content .main-area--4 .main-container__content {
    min-height: 0;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .main-area--4 .main-container__content {
    margin: 50px 0 0 0;
  }
}
.likearts-content .main-area--4 .main-container__title--h2 {
  font-size: 4.5rem;
  color: #000;
  text-align: center;
  color: #000;
  max-width: 500px;
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .main-container__title--h2 {
    font-size: 3rem;
    max-width: 300px;
  }
}
@media screen and (max-width: 1080px) {
  .likearts-content .main-area--4 .main-container__title--h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 920px) {
  .likearts-content .main-area--4 .main-container__title--h2 {
    max-width: none;
  }
}
@media screen and (max-width: 920px) {
  .likearts-content .main-area--4 .tooltips-area--desktop {
    display: none;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item {
  position: absolute;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  color: #fff;
  text-align: center;
  padding: 10px 40px;
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item {
    padding: 10px 30px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--1 {
  top: 130px;
  left: 7%;
  width: 437.27px;
  height: 235.36px;
  background-image: url("../../img/tooltips/tooltip--1.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--1 {
    top: 180px;
    width: 364.39px;
    height: 196.13px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--2 {
  top: 60px;
  left: 40%;
  width: 419.09px;
  height: 254.54px;
  background-image: url("../../img/tooltips/tooltip--2.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--2 {
    top: 140px;
    width: 349.24px;
    height: 212.11px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--3 {
  top: 200px;
  right: 3%;
  width: 409.09px;
  height: 237.27px;
  background-image: url("../../img/tooltips/tooltip--3.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--3 {
    top: 250px;
    width: 340.9px;
    height: 197.72px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--4 {
  bottom: 110px;
  right: 9%;
  width: 410px;
  height: 236.36px;
  background-image: url("../../img/tooltips/tooltip--4.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--4 {
    bottom: 200px;
    width: 341.66px;
    height: 196.96px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--5 {
  bottom: 60px;
  right: 40%;
  width: 400.9px;
  height: 245.45px;
  background-image: url("../../img/tooltips/tooltip--5.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--5 {
    bottom: 140px;
    width: 334.08px;
    height: 204.54px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--6 {
  bottom: 190px;
  left: 5%;
  width: 390.9px;
  height: 228.18px;
  background-image: url("../../img/tooltips/tooltip--6.png");
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltips-area__item--6 {
    bottom: 290px;
    left: 3%;
    width: 325.75px;
    height: 190.15px;
  }
}
.likearts-content .main-area--4 .tooltips-area--mobile {
  display: none;
}
@media screen and (max-width: 920px) {
  .likearts-content .main-area--4 .tooltips-area--mobile {
    display: block;
    width: 100%;
    margin: 25px 0;
  }
}
.likearts-content .main-area--4 .tooltips-area--mobile .tooltips-area__item {
  display: block;
  padding: 40px;
  margin: 20px 0;
  font-weight: 600;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
@media screen and (max-width: 640px) {
  .likearts-content .main-area--4 .tooltips-area--mobile .tooltips-area__item {
    padding: 20px;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltip-icon {
  margin: 0;
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltip-text {
  font-size: 2.3rem;
  margin: 10px 0 40px 0;
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .likearts-content .main-area--4 .tooltips-area--desktop .tooltip-text {
    font-size: 1.5rem;
  }
}
.likearts-content .main-area--4 .tooltips-area--desktop .tooltip-text--margin {
  margin: 10px 0 20px 0;
}
