.likearts-content .header {
  position: relative;
  width: 100%;
  padding: 45px 0;
}
@media screen and (max-width: 768px) {
  .likearts-content .header {
    padding: 15px 0;
  }
}
.likearts-content .header__content {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .likearts-content .header__content {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}
.likearts-content .header__logo {
  width: 162px;
  height: 108px;
}
@media screen and (max-width: 992px) {
  .likearts-content .header__logo {
    width: 108px;
    height: 72px;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .header__logo {
    width: 72px;
    height: 48px;
  }
}
@media screen and (max-width: 768px) {
  .likearts-content .header__info {
    margin: 20px 0;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .header__info {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: 10px 0;
  }
}
.likearts-content .header__contacts {
  padding: 0 0 0 20px;
  margin-right: 80px;
}
@media screen and (max-width: 1024px) {
  .likearts-content .header__contacts {
    margin-right: 40px;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .header__contacts {
    margin: 10px 0;
    border: none;
    padding: 0;
    text-align: center;
  }
}
.likearts-content .header__phone {
  font-size: 2.4rem;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .likearts-content .header__phone {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .header__phone {
    font-size: 1.4rem;
  }
}
.likearts-content .header__link {
  font-size: 1.8rem;
}
@media screen and (max-width: 640px) {
  .likearts-content .header__link {
    font-size: 1.2rem;
  }
}
.likearts-content .header__social {
  margin-left: 80px;
}
@media screen and (max-width: 1024px) {
  .likearts-content .header__social {
    margin-left: 40px;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .header__social {
    margin: 10px 0;
  }
}
.likearts-content .header__social-item {
  display: block;
}
.header__social-link {
  display: inline-block;
  height: auto;
  margin: 0 8px;
}
.header__social-link:first-child {
  margin: 0 8px 0 0;
}
.header__social-link:last-child {
  margin: 0 0 0 8px;
}
.likearts-content .header--white .header__logo {
  background-image: url("../../img/logo/logo-w.png");
}
.likearts-content .header--black .header__logo {
  background-image: url("../../img/logo/logo-b.png");
}
.likearts-content .header--white .header__contacts {
  color: #fff;
  border-left: 2px solid #fff;
}
@media screen and (max-width: 640px) {
  .likearts-content .header--white .header__contacts {
    border: none;
  }
}
.likearts-content .header--black .header__contacts {
  color: #000;
  border-left: 2px solid #000;
}
@media screen and (max-width: 640px) {
  .likearts-content .header--black .header__contacts {
    border: none;
  }
}
