@import 'nib'

$bg-color = #FFF
$lk-yellow = #fcde02
$lk-green = #8ac500

$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px
$full-hd = 1920px

$container-width = 1550px


.likearts-content .footer
	position absolute
	width 100%
	bottom 0
	padding 45px 0
	@media screen and (max-width: 992px)
		position relative
	@media screen and (max-width: $tablet)
		padding 15px 0

.likearts-content .footer__content
	width 100%
	max-width $container-width
	margin 0 auto
	padding 0 15px
	flex-flow row wrap
	justify-content space-between
	@media screen and (max-width: $tablet)
		flex-flow column wrap
		
.likearts-content .footer__link
	display inline-block
	font-size 1.4rem
	@media screen and (max-width: $tablet)
		margin 5px 0
		
.likearts-content .footer__link--white
	color #FFF
	border-bottom 2px solid transparent
	&:hover
		border-bottom 2px solid #FFF
		
.likearts-content .footer__link--black
	color #000
	border-bottom 2px solid transparent
	&:hover
		border-bottom 2px solid #000
		
.likearts-content .footer__link--order
	text-transform uppercase
	font-weight 700
	
.footer__link-icon
	display inline-block
	position relative
	top 2px
	@media screen and (max-width: $tablet)
		display none
		


