@import 'nib'

$bg-color = #FFF
$lk-yellow = #fcde02
$lk-green = #8ac500

$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px
$full-hd = 1920px

$container-width = 1550px

.likearts-content .main-area--3
	background-image url('../../img/bg/bg-3.jpg')
	background-color #422646
	color #FFF
	
.likearts-content .main-area--3 .main-container
	position relative
	
.likearts-content .main-area--3 .main-container__title
	font-family 'Intro'
	font-weight 900
	margin 0
	
.likearts-content .main-area--3 .main-container__content
	flex-flow column wrap
	width 100%
	max-width 1200px
	margin 50px auto
	@media screen and (max-width: 992px)
		margin 50px 0
		padding 0 20px

.likearts-content .main-area--3 .main-container__title--h2
	font-size 5rem
	color #000
	text-align left
	width 100%
	color #FFF
	@media screen and (max-width: $notebook)
		font-size 4rem
		text-align center
	@media screen and (max-width: $phone)
		font-size 2.5rem
		
.likearts-content .main-area--3 .list-area
	width 100%
	color #000
	margin 30px 0
	flex-flow row wrap
	align-items flex-start
	@media screen and (max-width: 992px)
		margin 0
	
.likearts-content .main-area--3 .list-area__item
	width 50%
	margin 50px 0
	@media screen and (max-width: 992px)
		margin 20px 0
	@media screen and (max-width: 992px)
		width 100%
	@media screen and (max-width: $phone)
		margin 10px 0
	
	
.likearts-content .main-area--3 .list-area__icon
	display inline-block
	position relative
	top 4px
	@media screen and (max-width: $tablet)
		transform scale(0.8)
		margin 0 auto
	
.likearts-content .main-area--3 .list-area__content
	position relative
	margin 20px 0 0 0
	justify-content flex-start
	align-items flex-start
	flex-flow row wrap
	@media screen and (max-width: $tablet)
		margin 0
	
.likearts-content .main-area--3 .list-area__text
	display inline-block
	width 70%
	margin  0 0 0 20px
	padding 0 10px
	color #FFF
	@media screen and (max-width: 992px)
		width 80%
	@media screen and (max-width: $tablet)
		width 100%
		margin 5px 0
		padding 0
		text-align center
		
.likearts-content .main-area--3 .list-area__title
	font-size 2rem
	font-family 'Intro'
	font-weight 900
	margin 0 0 30px 0
	@media screen and (max-width: 992px)
		font-size 1.7rem
		margin 0 0 10px 0
	
.likearts-content .main-area--3 .list-area__description
	font-size 1.6rem
	@media screen and (max-width: 992px)
		font-size 1.4rem
	@media screen and (max-width: $phone)
		font-size 1.2rem
		
.likearts-content .main-area--3 .action-link
	position relative
	display block
	margin 0 0 80px 0
	align-self flex-start
	@media screen and (max-width: $notebook)
		align-self center
		margin 0
	@media screen and (max-width: 992px)
		top 30px