.likearts-content .action-btn {
  padding: 20px 30px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .likearts-content .action-btn {
    padding: 10px 20px;
  }
}
.likearts-content .action-btn--green {
  background-color: #91c800;
}
.likearts-content .action-btn--green:hover {
  background-color: #8bc34a;
}
.likearts-content .action-btn--yellow {
  display: inline-block;
  background-color: #fcdd02;
  color: #000;
}
.likearts-content .action-btn--yellow:hover {
  background-color: #ffeb3b;
}
.likearts-content .action-btn--small {
  padding: 10px 20px;
}
.likearts-content .action-btn__text {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
}
@media screen and (max-width: 992px) {
  .likearts-content .action-btn__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .action-btn__text {
    font-size: 1rem;
  }
}
.likearts-content .action-btn__text--small {
  font-size: 1.4rem;
}
.likearts-content .action-btn__text--middle {
  font-size: 1.5rem;
}
@media screen and (max-width: 640px) {
  .likearts-content .action-btn__text--middle {
    font-size: 1rem;
  }
}
.likearts-content .action-btn__icon {
  display: inline-block;
  position: relative;
  left: 5px;
}
@media screen and (max-width: 992px) {
  .likearts-content .action-btn__icon {
    top: 2px;
  }
}
@media screen and (max-width: 640px) {
  .likearts-content .action-btn__icon {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .likearts-content .action-btn__icon--small {
    top: 0;
  }
}
.likearts-content .action-btn__icon--middle {
  top: 2px;
}
