@import 'nib'

$bg-color = #FFF
$lk-yellow = #fcde02
$lk-green = #8ac500

$phone = 640px
$tablet = 768px
$notebook = 1024px
$desktop = 1600px
$full-hd = 1920px

$container-width = 1550px

.likearts-content .action-btn
	padding 20px 30px
	border-radius 40px
	cursor pointer
	@media screen and (max-width: $phone)
		padding 10px 20px
		
.likearts-content .action-btn--green
	background-color #91c800
	&:hover
		background-color #8BC34A
		
		
.likearts-content .action-btn--yellow
	display inline-block
	background-color #fcdd02
	color #000
	&:hover
		background-color #FFEB3B
		
.likearts-content .action-btn--small
	padding 10px 20px

.likearts-content .action-btn__text
	font-size 1.9rem
	font-weight 700
	text-transform uppercase
	letter-spacing 1px
	user-select none
	line-height 1
	@media screen and (max-width: 992px)
		font-size 1.5rem
	@media screen and (max-width: $phone)
		font-size 1rem
		
.likearts-content .action-btn__text--small
	font-size 1.4rem
	
.likearts-content .action-btn__text--middle
	font-size 1.5rem
	@media screen and (max-width: $phone)
		font-size 1rem
		
.likearts-content  .action-btn__icon
	display inline-block
	position relative
	left 5px
	@media screen and (max-width: 992px)
		top 2px
	@media screen and (max-width: $phone)
		display none
		
.likearts-content  .action-btn__icon--small
	@media screen and (max-width: 992px)
		top 0
		
.likearts-content .action-btn__icon--middle
	top 2px